* {
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.images {
    display: block;
}

.search-container {
    display: flex;
    padding: 20px 50px;
    border-radius: 15px;
}

.search-container #search {
    margin: 0;
    padding: 10px 15px;
    border: 2px solid #CCC;
    line-height: 20px;
    width: 30%;
    border-radius: 2px;
    font-size: 16px;
}

.large {
    display: inline-flex;
    padding: 15px 60px;
    margin-left: 20px;
}

.display-none {
    display: none;
}

@media (min-width: 768px) {
    .large {
        margin: auto;
    }
};

@media (min-width: 1024px) {
    .large {
        margin: auto;
        }
    );